{% extends "layout.html" %}
{% block head %}
    <script src="{{ url_for('static', filename='add-cafe.js') }}"></script>
{% endblock %}
{% block body %}
    <button><a href="{{ url_for('home') }}">Back to main</a></button>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Add cafe</legend>

            {% if form.coord_latitude.errors or  form.coord_longitude.errors %}
            <div class="alert alert-danger" role="alert">
                Make sure to select a valid point in the map!
            </div>
            {% endif %}

            <!-- form はforms.pyのNewLocationFormクラスを指している。app.py でformとしてインスタンス化されている。 -->
            <!-- Radio button for Learner or Mentor -->
            <div class="form-group wifi">
                {{ form.wifi.label(class="form-control-label") }}

                {% if form.wifi.errors %}
                    {{ form.wifi(class="form-check is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.wifi.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.wifi(class="form-radio", style="list-style-type:none") }}
                {% endif %}
            </div>

            <!-- Address form -->
            <div class="form-group">
                {{ form.address_cafe.label(class="form-control-label") }}
                {% if form.address_cafe.errors %}
                    {{ form.address_cafe(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.address_cafe.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.address_cafe(class="form-control address_cafe form-control-lg") }}
                {% endif %}
            </div>
            
            <!-- language_learn form selectbox -->
            <div class="form-group">
                {{ form.sockets.label(class="form-control-label") }}
                
                {% if form.sockets.errors %}
                {{ form.sockets(class="form-check is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.sockets.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.sockets(class="form-sockets") }}
                {% endif %}
            </div>
            
            <!-- language_speak form selectbox -->
            <div class="form-group">
                {{ form.work_friendly_table.label(class="form-control-label") }}
                
                {% if form.work_friendly_table.errors %}
                {{ form.work_friendly_table(class="form-check is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.work_friendly_table.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.work_friendly_table(class="form-work_friendly_table") }}
                {% endif %}
            </div>
            
            <!-- Radio button for how long of experience -->
            <div class="form-group">
                {{ form.teracce.label(class="form-control-label") }}
    
                {% if form.teracce.errors %}
                    {{ form.teracce(class="form-check is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.teracce.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.teracce(class="form-radio",style="list-style-type:none") }}
                {% endif %}
            </div>

            <!-- Radio button for how long of learning-->
            <div class="form-group">
                {{ form.pet_friendly.label(class="form-control-label") }}
    
                {% if form.pet_friendly.errors %}
                    {{ form.pet_friendly(class="form-check is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.pet_friendly.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.pet_friendly(class="form-radio",style="list-style-type:none") }}
                {% endif %}
            </div>

            <!-- Radio button for want to meet on online or in person-->
            <div class="form-group">
                {{ form.quiet.label(class="form-control-label") }}
    
                {% if form.quiet.errors %}
                    {{ form.quiet(class="form-check is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.quiet.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.quiet(class="form-radio",style="list-style-type:none") }}
                {% endif %}
            </div>
        </fieldset>

        <div id="preview" style="width: 100%; height: 400px">
            <div id="map" style="height: 100%;"></div>
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
    src="https://maps.googleapis.com/maps/api/js?key={{map_key}}&callback=initAutocomplete&libraries=places&v=weekly&channel=2"
    async
    ></script>
{% endblock %}